doctype html
html(lang="en")
  head
  style(type="text/css").
    body {
      background: {{color}}
    }
    title= pageTitle
    link(rel='stylesheet', href='style.css', type='text/css' )
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1= compliment
