<!DOCTYPE html>
<html>
  <head>
    <title>Express yourself</title>
  </head>
  <body>
    <h1><%= header %>Swag</h1>
    <div class="container">
      <p> This is a p </p>
    </div>
  </body>
</html>
